<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "/styles/main" %>
</head>
<body>

  <%= yield %>

  <%= requirejs_include_tag "/scripts/application.js" %>
</body>
</html>
