<!DOCTYPE html>
<html>
<head>
  <title>Todos</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "/assets/styles/main" %>
  </head>
<body>

<%= yield %>
    <%= javascript_include_tag "/assets/scripts/application.js" %>
  </body>
</html>
